<template>
	<div>
		<alertas :success="message.success" :error="message.error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-md-1 col-lg-1">
						<label class="font-weight-bold">ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Banco</label>
						<v-select v-model="filters.banco" :options="selects.bancos" label="razon_social" @input="clearOptions()"/>
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Administradores ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button @click="openModalCrear()" class="btn btn-success btn-sm">Crear nuevo</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
                                <th>#</th>
                                <th>Estado</th>
	               				<th>Razon Social</th> 
                                <th>Cedula</th> 
                                <th>Banco</th> 
                                <th>Tipo de Cuenta</th>
                                <th>Numero de cuenta</th>
                                <th>Pais</th> 
	               				<th>Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 8 : 7">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data" :key="index">
                                    <td>{{value.id}}</td> 
                                    <td v-html="getlabel(value.estado)"></td>
                                    <td>{{$root.issetWithLast(value, 'razon_social')}}</td> 
                                    <td>{{$root.issetWithLast(value, 'cedula')}}</td> 
                                    <td>{{$root.issetWithLast(value, '_banco.razon_social')}}</td> 
                                    <td>{{$root.issetWithLast(value, '_tipo_cuenta.nombre')}}</td>
                                    <td>{{value.numero_cuenta}}</td>
                                    <td>{{$root.issetWithLast(value, '_pais.nombre')}}</td> 

                                    <th>
                                        <button @click="openModalCrear(index)" class="btn btn-success"> <i class="fa fa-edit"> </i></button>
                                        <template v-if="value.estado">
                                            <button @click="cambiarEstado(index)" class="btn btn-danger"> <i class="fa fa-lock"> </i> </button>
                                        </template>
                                        <template v-else>
                                            <button @click="cambiarEstado(index)" class="btn btn-success"> <i class="fa fa-lock-open"> </i> </button>
                                        </template>
                                    </th>
		               			</tr>
		               		</template>

		               		<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 8 : 7">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"/>
            </template>
        </panel>

        <modal id="modalCrearEditar" type="detalles">
        	<template #header>
				{{datos.id ? 'Editar' : 'Agregar'}} cuenta Bancaria
        	</template>
        	<template #main>
        		<div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="">Razon Social</label>
                        <input v-model="datos.razon_social" class="form-control"/>
               		</div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="">Cedula</label>
                        <input v-model="datos.cedula" class="form-control">
               		</div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="">Numero de Cuenta</label>
                        <input v-model="datos.numero_cuenta" class="form-control">
               		</div>
        			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="">Banco</label>
                        <v-select v-model="datos._banco" :options="selects.bancos" label="razon_social" @input="clearOptions()"/>
               		</div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="">Tipo de Cuenta</label>
                        <v-select v-model="datos._tipo_cuenta" :options="tipos_cuenta" label="nombre"/>
               		</div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="">Pais</label>
                         <v-select v-model="datos._pais" :options="paises" label="nombre"/>
               		</div>
               		
        		</div>
        	</template>
        	<template #footer>
        		<button @click="guardar()" class="btn btn-success">Guardar</button>
        	</template>
        </modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
                message:{
                    error: [],
				    success: [],
                },
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				rows: {
					data: [],
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					banco_id: null,
                },
                selects: {
                    bancos: [],
                },
                table: {
                    filtrando: false,
                },
                datos: {
                    id: null,
                    _banco: null,
                    _tipo_cuenta: null,
                    _pais: null,
                    razon_social: null, 
                    cedula: null,
                    numero_cuenta: null,
                },
			}
		},
		mounted: async function() {
            this.filtrar();
        },
        computed: {
            tipos_cuenta(){
                const banco = this.datos._banco;
                return banco ? banco._tipos : []; 
            },
            paises(){
                const banco = this.datos._banco;
                return banco ? [banco._pais] : []; 
            }
        },
		methods: {
            /* global */
            limpiarMensajes() {
				this.message = {
                    success: [],
                    error: []
                }
            },
            clearOptions(){
                this.datos._tipo_cuenta = null;
                this.datos._pais = null;
            },
            openModalCrear(index = null){
                this.limpiarMensajes();
                $("#modalCrearEditar").modal();
                $("#modalCrearEditar").on('hide.bs.modal', ()=>{
                    this.datos.id = null;
                    this.datos._banco = null;
                    this.datos._tipo_cuenta = null;
                    this.datos._pais = null;
                    this.datos.razon_social = null; 
                    this.datos.cedula = null;
                    this.datos.numero_cuenta = null;
                });

                if(index != null){
                    const datos = this.rows.data[index];
                    this.datos = {...datos};
                }
            },
            messageCatch(message, tipo = 'error'){
                this.message[tipo] = this.$root.arrayResponse(message);
            },
            limpiar() {
				this.filters = {
					id: null,
					banco_id: null,
				};
				this.filtrar(1);
            },
            getlabel(estado){
                if(estado == 1){
                    return `<label class="label label-success"> Activo <label>`;
                }

                return `<label class="label label-danger"> Inactivo <label>`; 
            },
            /*  Requests */
			async filtrar(page = 1) {
                let load = loading(this);
                this.limpiarMensajes();
                
                try {
                    this.table.filtrando = true;
                    
                    let request = new FormData;
                    request.append('page', page);
                    this.filters.id && request.append('id', this.filters.id); 
                    this.filters.banco && request.append('banco_id', this.filters.banco.id);

                    const response = await axios.post(this.url.current, request);
                    const {rows, selects} = response.data;
                    this.rows = rows;
                    this.selects = selects;

                } catch (error) {
					this.messageCatch(error);
                }
                finally{
					load.hide();
					this.table.filtrando = false;
                }

            },
            async guardar(){
                let load = loading(this);
                this.limpiarMensajes();
                try {

                    let request = new FormData;
                    this.datos.id && request.append('id', this.datos.id);
                    this.datos._banco && request.append('banco_id', this.datos._banco.id);
                    this.datos._tipo_cuenta && request.append('id_tipo_cuenta', this.datos._tipo_cuenta.id);
                    this.datos._pais && request.append('pais_id', this.datos._pais.id);
                    this.datos.razon_social && request.append('razon_social', this.datos.razon_social); 
                    this.datos.cedula && request.append('cedula', this.datos.cedula);
                    this.datos.numero_cuenta && request.append('numero_cuenta', this.datos.numero_cuenta);

                    const response = await axios.post(`${this.url.current}/${this.datos.id ?'editar' : 'crear'}`, request);
                    const {rows, success} = response.data;

                    this.messageCatch(success, 'success');
                    this.rows = rows;
                    $("#modalCrearEditar").modal('hide');
                } catch (error) {
					this.messageCatch(error);
                }
                finally{
					load.hide();
                }
            },
            async cambiarEstado(index){
                 
                this.limpiarMensajes();
                const { id, estado } =  this.rows.data[index];

                const responseSwal = await this.$swal({
                    title : `${estado ? 'Desactivar': 'Activar'} Cuenta N# ${id}`,
                    html : `Esta seguro de ${estado ? 'Desactivar': 'Activar'} la cuenta ? 
                        ${estado ? 'las cuentas desactivas no seran mostradas al cliente.': ''}`,
                    showConfirmButton: true,
                    showCloseButton:true,
                });

                if(responseSwal.value){
                    let load = loading(this);

                    try {
                       
                        const request = {id};       
                        const response = await axios.post(`${this.url.current}/desactivar`, request);
                        const {rows, success} = response.data;

                        this.messageCatch(success, 'success');
                        this.rows = rows;
                        load.hide();
    
                    } catch (error) {
                        load.hide();
                        this.messageCatch(error);
                    }
                }                
            },
		}
	}
</script>