<template>
<div>
    <alertas :success="success" :error="error"></alertas>
    <panel type="filtro">
        <template slot="header">
            Filtros
        </template>

        <template slot="buttons">
            <button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
            <button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
        </template>

        <template slot="main">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
                    <label>ID</label>
                    <input type="text" class="form-control" v-model="filters.id" />
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
                    <label>Pais</label>
                    <v-select label="nombre" v-model="filters.origen" :options="selects.paises"/>
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
                    <label>Destino</label>
                    <v-select label="nombre" v-model="filters.destino" :options="selects.paises"/>
                </div>
            </div>
        </template>
    </panel>

    <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
        <template slot="header">
            Tasas ({{ rows.total }} registradas)
        </template>

        <template slot="buttons">
            <button class="btn btn-success btn-sm" @click="openModalCrearEdit()">Crear nuevo</button>
            <a :href="$root.base_url + '/mantenedor/tipos'" class="btn btn-default btn-sm">Volver</a>
        </template>

        <template slot="main">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Tasa</th>
                            <th>Minimo</th>
                            <th>Estado</th>
                            <th>Fecha creación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="table.filtrando">
                            <tr>
                                <td :colspan="table.showActions ? 6 : 5">
                                    Buscando datos
                                </td>
                            </tr>
                        </template>

                        <template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
                            <tr v-for="(value, index) in rows.data">
                                <td>{{value.id}}</td>
                                <td>{{value._pais_origen.nombre}}</td>
                                <td>{{value._pais_destino.nombre}}</td>
                                <td>{{value.tasa}}</td>
                                <td>{{value.monto_min}}</td>
                                <td>
                                    <template v-if="value.estado">
                                        <label class="label label-success">Activo</label>
                                    </template>
                                    <template v-else>
                                        <label class="label label-success">Pausado</label>
                                    </template>
                                </td>
                                <td>{{value.created_at | dateTime}}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" @click="openModalCrearEdit(index)" :title="'Editar tasa #' + value.id">
                                        <i class="fa fa-edit fa-fw"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" @click="estado(index)" :title="`${value.estado == 1 ? 'Desactiva' : 'Activar'} la tasa N#${value.id}`">
                                        <i class="fa  fa-fw" :class="`${value.estado == 1 ? 'fa-pause' : 'fa-play'} `"> </i>
                                    </button>
                                </td>
                            </tr>
                        </template>

                        <template v-else>
                            <tr>
                                <td :colspan="table.showActions ? 6 : 5">
                                    Busqueda finalizada. No se han encontrado datos
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
        </template>
    </panel>

    <modal id="modalCrear" type="crear">
        <template slot="header">
            <template v-if="tasa.id">Editar Tasa N# {{tasa.id}}</template>
            <template v-else>Crear nueva tasa</template>
        </template>
        <template slot="main">
            <div class="row">
                <div class="form-group col-xs-12 col-lg-12">
                    <label>Origen</label>
                    <v-select :options="selects.paises" label="nombre" v-model="tasa.origen" :disabled="!!tasa.id" />
                </div>
                <div class="form-group col-xs-12 col-lg-12">
                    <label>Destino</label>
                    <v-select :options="paises_destino" label="nombre" v-model="tasa.destino" :disabled="!!tasa.id" />
                </div>
                <div class="form-group col-xs-12 col-lg-12">
                    <label>Tasa</label>
                    <input type="text" class="form-control" v-model="tasa.tasa" />
                </div>
                <div class="form-group col-xs-12 col-lg-12">
                    <label>Monto Minimo</label>
                    <input type="text" class="form-control" v-model="tasa.monto_min" />
                </div>
            </div>
        </template>
        <template slot="footer">
            <button class="btn btn-success" @click="createOrEdit()">Guardar</button>
        </template>
    </modal>
</div>
</template>

<script>
export default {
    data() {
        return {
            error: [],
            success: [],
            url: {
                current: this.$root.base_url + this.$route.path,
                permisos: {},
            },
            rows: {
                data: [],
                total: 0,
                last_page: 1
            },
            filters: {
                id: null,
                origen : null,
                destino : null,
            },
            tasa: {
                origen: null,
                destino: null,
                tasa: null,
                monto_min: null,
                id_estado: null,
                id: null,
                key: null,
            },
            table: {
                filtrando: false,
                showActions: true
            },
            selects: {
                paises: [],
            },
        }
    },
    created: async function() {
        this.filtrar();
    },
    computed: {
        paises_destino() {
            if (this.tasa.origen) {
                return this.selects.paises.filter(pais => {
                    return pais.id != this.tasa.origen.id;
                })
            }
            return [];
        },
    },
    methods: {
        limpiarMensajes() {
            this.success = [];
            this.error = [];
        },
        limpiar() {
            this.filters = {
                id: null,
                origen : null,
                destino : null,
            };
            this.filtrar(1);
        },
        limpiarTasa() {
            this.tasa = {
                origen: null,
                destino: null,
                tasa: null,
                monto_min: null,
                id_estado: null,
                id: null,
                key: null,
            };
        },
        filtrar(page = 1) {

            this.limpiarMensajes();
            this.table.filtrando = true;
            let load = loading(this);

            let request = new FormData;
            request.append('page', page);
            this.filters.id &&  request.append('id', this.filters.id);
            this.filters.origen && request.append('pais_origen_id', this.filters.origen.id);
            this.filters.destino && request.append('pais_destino_id', this.filters.destino.id);

            axios.post(this.$root.base_url + this.$route.path, request)
                .then(response => {
                    this.rows = response.data.tasas;
                    this.selects.paises = response.data.paises;
                })
                .catch(error => {
                    this.error = this.$root.arrayResponse(error);
                })
                .finally(() => {
                    load.hide();
                    this.table.filtrando = false;
                })
        },
        estado(key) {
            this.limpiarMensajes();

            let tasa = this.rows.data[key];
            this.$swal({
                text: `¿Esta seguro que desea ${tasa.estado == 1 ? 'Desactiva' : 'Activar'} Tasa: ${tasa._pais_origen.nombre}->${tasa._pais_destino.nombre}?`,
                icon: 'warning',
                showConfirmButton: true,
                showCancelButton: true,
            }).then(response => {
                if (response.value) {
                    let load = loading(this);

                    axios.post(this.url.current + '/estado', {
                            'id': tasa.id
                        })
                        .then(response => {
                            this.success.push(response.data.success);
                            this.rows.data[key] = response.data.tasa;
                        })
                        .catch(error => {
                            this.error = this.$root.arrayResponse(error);
                        })
                        .finally(() => {
                            load.hide();
                        })
                }
            });
        },
        createOrEdit() {

            let request = new FormData;
            let url = this.tasa.id ? '/editar' : '/crear';
            this.limpiarMensajes();
            this.tasa.id && request.append('id', this.tasa.id);
            this.tasa.origen && request.append('pais_origen_id', this.tasa.origen.id);
            this.tasa.destino && request.append('pais_destino_id', this.tasa.destino.id);
            this.tasa.tasa && request.append('tasa', this.tasa.tasa);
            this.tasa.monto_min && request.append('monto_min', this.tasa.monto_min);

            let load = loading(this);

            axios.post(this.url.current + url, request)
                .then(response => {
                    this.success.push(response.data.success);
                    if (this.tasa.id) {
                        this.rows.data[this.tasa.key] = response.data.tasa
                    } else {
                        this.rows.data.unshift(response.data.tasa);
                    }
                })
                .catch(error => {
                    this.error = this.$root.arrayResponse(error);
                })
                .finally(() => {
                    load.hide();
                })

        },
        openModalCrearEdit(key = null) {
            if (typeof key != 'object') {
                let value = this.rows.data[key];
                this.tasa.key = key;
                this.tasa.id = value.id;
                this.tasa.tasa = value.tasa;
                this.tasa.monto_min = value.monto_min;
                this.tasa.origen = value._pais_origen;
                this.tasa.destino = value._pais_destino;
            }

            $("#modalCrear").modal();
            $("#modalCrear").on('hide.bs.modal', () => {
                this.limpiarTasa();
            });
        },

    }
}
</script>
