<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
						<label>ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
						<label>Estado</label>
						<v-select :options="selects.estados" label="nombre" v-model="filters.estado" />
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Transferencias ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button class="btn btn-secondary btn-sm" @click="filtrar(1)">
					Refrescar <i class="fa fa-sync-alt"></i>
				</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
								<th>Razón social</th>
								<th>País origen</th>
								<th>País destino</th>
	               				<th>Banco</th>
	               				<th>Monto enviado</th>
	               				<th>Estado</th>
	               				<th>Fecha</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 9 : 8">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td>{{ value.id }}</td>
		               				<td>{{ value.razon_social }}</td>
		               				<td>
		               					{{ value._transferencia._pais_origen ? value._transferencia._pais_origen.nombre : '-' }}
		               				</td>
		               				<td>
		               					{{ value._transferencia._pais_destino ? value._transferencia._pais_destino.nombre : '-' }}
		               				</td>
		               				<td>{{ value._banco ? value._banco.razon_social : '-' }}</td>
									<td>
										<template v-if="value.monto_envio">
											{{ value.monto_envio }}
											{{ value._moneda_envio ? value._moneda_envio.diminutivo : '-' }}
										</template>
										<template v-else>-</template>
									</td>
									<td>
										<template v-if="value._estado">
											<span v-html="getLabelEstado(value._estado)"></span>
										</template>
										<template v-else>-</template>
									</td>
		               				<td>{{ value.created_at | dateTime }}</td>
		               				<td nowrap>
		               					<button class="btn btn-info btn-sm" @click="openDetalles(index)" 
                                           :title="'Ver detalles transferencia #' + value.id">
		               						<i class="fa fa-eye fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
	               			</template>
	               			<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 9 : 8">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>
		<!-- DETALLES DE TRANSFERENCIA -->
		<modal id="modalDetalles" type="editar">
        	<template slot="header">
        		Ver detalles de transferencia
        		<span v-if="Object.keys(detalle).length > 0 && detalle.id">
                	#{{detalle.id}}
                </span>
        	</template>
        	<template slot="main">
        		<h5 class="text-info" v-if="Object.keys(detalle).length > 0">
        			Datos de emisor
        		</h5>
        		<hr class="mt-0">

        		<div class="row">
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Usuario</label>
        				<br>
        				<template v-if="detalle._transferencia && detalle._transferencia._usuario">
        					{{ detalle._transferencia._usuario.nombre_completo }}
        				</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Cédula</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_transferencia._usuario.cedula')">
        					{{ detalle._transferencia._usuario.cedula }}
        				</template>
        				<template>-</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Tipo de Operación</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_transferencia._tipo_operacion.nombre')">
        					{{ detalle._transferencia._tipo_operacion.nombre }}
        				</template>
        				<template v-else>-</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>País origen</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_transferencia._pais_origen.nombre')">
        					{{ detalle._transferencia._pais_origen.nombre }}
        				</template>
        				<template v-else>-</template>    
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Monto enviado</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_moneda_envio.nombre')">
        					{{ detalle.monto_envio | currency }}
        					{{ detalle._moneda_envio.diminutivo }}
        				</template>
        				<template v-else>-</template>    
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Tasa</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_transferencia.tasa')">
        					{{ detalle._transferencia.tasa | currency }}
        				</template>
        				<template v-else>-</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Fecha</label>
        				<br>{{ detalle.created_at | dateTime }}      				
        			</div>
        		</div>

        		<h5 class="text-info" v-if="Object.keys(detalle).length > 0">
        			Datos de transferencia
        		</h5>
        		<hr class="mt-0">

        		<div class="row">
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Razón social</label>
        				<br>
        				<template v-if="detalle.razon_social">
        					{{ detalle.razon_social }}
        				</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Cédula</label>
        				<br>
        				<template v-if="detalle.cedula">
        					{{ detalle.cedula }}
        				</template>
        				<template v-else>-</template>        				
        			</div>
        		</div>
        		<div class="row">
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>País destino</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_transferencia._pais_destino.nombre')">
        					{{ detalle._transferencia._pais_destino.nombre }}
        				</template>
        				<template v-else>-</template>    
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Monto a recibir</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_moneda_recibo.nombre')">
        					{{ detalle.monto_recibido | currency }}
        					{{ detalle._moneda_recibo.diminutivo }}
        				</template>
        				<template v-else>-</template>    
        			</div>
        		</div>
        		<div class="row">
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Banco</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_banco.razon_social')">
        					{{ detalle._banco.razon_social }}
        				</template>
        				<template v-else>-</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
        				<label>Tipo de cuenta</label>
        				<br>
        				<template v-if="$root.isset(detalle, '_tipo_cuenta.nombre')">
        					{{ detalle._tipo_cuenta.nombre }}
        				</template>
        				<template v-else>-</template>        				
        			</div>
        			<div class="form-group col-xs-4 col-lg-4">
	        			<label>Número de cuenta</label>
	    				<br>
	    				<template v-if="detalle.numero_cuenta">
	    					{{ detalle.numero_cuenta }}
	    				</template>
	    				<template v-else>N/I</template>    
	    			</div>
        		</div>
        		<h5 class="text-info" v-if="Object.keys(detalle).length > 0">
        			Comprobante
        		</h5>
        		<hr class="mt-0">

        		<div class="row">
        			<img></img>
        		</div>
        	</template>
        </modal>

	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					estado: null,
				},
				table: {
					filtrando: false,
					showActions: true
				},
                selects: {
                    estados : []
                },
				rechazo: {
					key : null,
					motivo : null
				},
				verificado: {
					key: null,
					file: null
				},
                detalle: {},
			}
		},
		mounted: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					pais: null,
				};
				this.filtrar(1);
			},
			limpiarRechazo() {
                this.rechazo = {
        			key: null,
        			motivo: null
        		}
			},
			limpiarVerificado() {
                this.verificado = {
        			key: null,
        			soporte: null
        		}
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);
                
				let request = new FormData;
                request.append('page', typeof page != 'object' ? page : 1);
                request.append('user_id' ,this.$route.params.user_id);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.estado && request.append('id_estado', this.filters.estado.id);

                axios.post(this.url.current, request)
				.then(response => {
					this.rows = response.data.rows;
                    this.selects = response.data.selects;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
	        openDetalles(key) {
				let load = loading(this);

				axios.post(this.url.current + '/detalles', {id: this.rows.data[key].id})
				.then(response => {
					this.detalle = response.data.detalle;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					$('#modalDetalles').modal();

					$('#modalDetalles').on('hide.bs.modal', () => {
						this.detalle = {};
					});
				});
            },
              getLabelEstado(estado){
				let clase = {
					5: 'badge-info',
					6: 'badge-warning',
					9: 'badge-success'
				};

				return `<label class="badge text-light ${clase[estado.id]}">${estado.nombre}</label>`
	        }
		}
	}
</script>

<style>
	.pointer{
		cursor: pointer;
	}
</style>
