<template>
	<div>
		<alertas :success="message.success" :error="message.error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="clear">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filter">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
						<label>ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Clientes ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button class="btn btn-secondary btn-sm" @click="filter(1)">
					Refrescar <i class="fa fa-sync-alt"></i>
				</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
								<th>Razón social</th>
								<th>Cedula</th>
								<th>País</th>
								<th>Transferencias</th>
								<th>En Proceso</th>
								<th>Rechazadas</th>
								<th>Finalizadas</th>
	               				<th v-if="config.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="config.filtrando">
	               				<tr>
	               					<td :colspan="config.showActions ? 9 : 8"> Buscando datos </td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!config.filtrando && rows.data.length > 0">
		               			<tr v-for="(value, index) in rows.data" :key="index">
									<td>{{ value.id }}</td>
									<td>{{ value.nombre_completo }}</td>
									<td>{{ value.email }}</td>
									<td>{{ $root.issetWithLast(value,'_pais.nombre') }}</td>
									<th>{{ value.transferencias }} </th>
									<th>{{ value.procesando }} </th>
									<th>{{ value.rechazadas}}</th>
									<th>{{ value.finalizadas}}</th>
									<th>
										<button title="Desabilitar Usuario" @click="changeState(value, index)" class="btn btn-sm" 
											:class="`${value.activo ? 'btn-danger' : 'btn-success'}`">
											<i class="text-white fa" :class="`${value.activo ? 'fa-pause' : 'fa-play'} ` "></i>
										</button>

										<button title="Contrasena Temporal" @click="openModalChangePassword(index)" class="btn btn-sm btn-warning">
											<i class="text-white fa fa-cog"></i>
										</button>
										
										<a title="Transferencias" :href="`${config.url}/detalles/${value.id}`" class="btn btn-info btn-sm" target="_blank">
											<i class="fa fa-search text-white"></i>
										</a>
									</th>
		               			</tr>
	               			</template>

	               			<template v-else>
		               			<tr>
		               				<td :colspan="config.showActions ? 9 : 8">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filter"></pagination>
            </template>
        </panel>

		<modal id="modalChangePassword">
			<template #header> 
				Crear Contrasena Temporal Usuario N#{{ change.id }}
			</template>
			<template #main> 
				<div class="row">
					<div class="form-group col-xs-12">
						<label> Contraseñas </label>
						<input type="password" class="form-control" v-model="change.password"/>
					</div>
				</div>
			</template>
			<template #footer> 
				<button class="btn btn-success" @click="changePassword()"> Guardar </button>
			</template>
		</modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
                config: {
                    url : this.$root.base_url + this.$route.path,
					filtrando: false,
					showActions: true
				},
				message:{
					error : [],
					success: [],
				},
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					estado: null,
				},
				selects: {
					estados: []
				},
				change: {
					id: null,
					index: null,
					password: null,
				}
			}
		},
		async mounted() {
            await this.filter();
        },
		methods: {
			clearMessages() {
				this.message = this.$root.clearObject(this.message);
			},
			clear() {
				this.filters = this.$root.clearObject(this.filters);
				this.filter(1);
			},
			getMessage(message, type = 'error'){
				this.message[type] = this.$root.arrayResponse(message);			
			},
			openModalChangePassword(index){
				this.change.id = this.rows.data[index].id;
				this.change.index = index;

				$("#modalChangePassword").modal();
				$("#modalChangePassword").on('hide.bs.modal', ()=>{
					this.change = this.$root.clearObject(this.change);
				});
			},
            async filter(page = 1){
				const load = loading(this);

                try {
                    this.clearMessages();
                    this.config.filtrando = true;

					const  request = new FormData;
					
                    request.append('page', page);
                    this.filters.id && request.append('id', this.filters.id);
                    this.filters.estado && request.append('id_estado', this.filters.estado.id);
                    
					const response = await axios.post(this.config.url, request);
					console.log(response)
                    const { rows , selects } = response.data;
				
                    this.rows = rows;
                    this.selects = selects;

                } catch (error) {
                    this.getMessage(error);
                }
                finally{
                    load.hide();
					this.config.filtrando = false;
                }
			},
			async changeState(value, index){
				let load = null;
				
				try {
					this.clearMessages();
					const swal  = await this.$swal({
						title : `Cambio de estado Cliente N#${value.id}`,
						icon: 'warning',
						html: `Esta seguro de cambiar el estado ${value.nombre_completo}`,
						showConfirmButton : true,
					});

					if(swal.value){
						load = loading(this);

						const  request = new FormData;					
						request.append('id', value.id);
						
						const response = await axios.post(`${this.config.url}/change_state`, request);
						const { success, usuario } =  response.data;
						
						this.rows.data[index] = usuario;
						this.$forceUpdate();
						this.getMessage(success, 'success');

						load.hide();
					}

				} catch (error) {
					 this.getMessage(error);
					 load.hide();
				}
			},
			async changePassword(){
				const load = loading(this);

				try {
					this.clearMessages();
					const user = this.rows.data[this.change.index];

					const request = new FormData;					
					request.append('id', this.change.id);
					request.append('password', this.change.password);
					
					const response = await axios.post(`${this.config.url}/update`, request);
					const { success } =  response.data;
					
					this.getMessage(success, 'success');
					$("#modalChangePassword").modal('hide');

				} catch (error) {
					 this.getMessage(error);
				}
				finally{
                    load.hide();
                }
			},
		}
	}
</script>

<style>
	.pointer{
		cursor: pointer;
	}
</style>
