<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="form">
			<template slot="header">
				Crear nuevo administrador
			</template>

            <template slot="main">
               <div class="row">
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Cédula <span class="text-red">*</span></label>
						<input type="text" class="form-control" v-model="data.cedula" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Nombre <span class="text-red">*</span></label>
						<input type="text" class="form-control" v-model="data.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Apellidos <span class="text-red">*</span></label>
						<input type="text" class="form-control" v-model="data.apellidos" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Email <span class="text-red">*</span></label>
						<input type="text" class="form-control" @blur="validarEmail()" :class="valid.email" v-model="data.email" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Teléfono</label>
						<input type="text" class="form-control" @keypress="$root.isNumberKey" v-model="data.telefono" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>País <span class="text-red">*</span></label>
						<v-select label="nombre" :options="selects.paises" v-model="data.pais"></v-select>
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Clave <span class="text-red">*</span>
							<i class="fa fa-info-circle" 
							title="La clave debe contener al menos 8 caracteres"></i>
						</label>
						<input type="password" class="form-control" @blur="validarPassword()" :class="valid.password" v-model="data.password" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Confirmar clave <span class="text-red">*</span></label>
						<input type="password" class="form-control" @blur="validarConfirmPassword()" :class="valid.confirmPassword" v-model="data.confirmPassword" />
               		</div>
           		</div>
            </template>

            <template slot="footer">
            	<button class="btn btn-success btn-sm" :disabled="inhabilitarGuardar" @click="guardar()">
            		Guardar
            	</button>
				<a :href="url.current" class="btn btn-secondary btn-sm">Volver</a>
            </template>
        </panel>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				section: {
					name: '',
				},
				url: {
                    current: this.$root.base_url + '/sistema/administradores',
                    permisos: {},
                },
				data: {
					cedula: null,
					nombre: null,
					apellidos: null,
					email: null,
					pais: null,
					telefono: null,
					password: null,
					confirmPassword: null,
				},
				valid: {
					rut: '',
					email: '',
					password: '',
					confirmPassword: ''
				},
				selects: {
					paises: []
				}
			}
		},
		mounted() {
        	this.iniciar();
        },
        computed: {
        	inhabilitarGuardar: function() {
        		return !(
        			this.data.nombre &&
        			this.data.apellidos &&
        			(this.data.pais && this.data.pais.id) &&
        			this.data.cedula &&
        			this.valid.email == 'is-valid' &&
        			this.valid.password == 'is-valid' &&
        			this.valid.confirmPassword == 'is-valid'
        		);
        	},
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			iniciar() {
				this.limpiarMensajes();
				let load = loading(this);

				axios.post(this.url.current + '/crear')
				.then(response => {
					this.selects.paises = response.data.paises;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			guardar() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				this.data.cedula && request.append('cedula', this.data.cedula);
				this.data.nombre && request.append('nombre', this.data.nombre);
				this.data.apellidos && request.append('apellidos', this.data.apellidos);
				this.data.email && request.append('email', this.data.email);
				this.data.telefono && request.append('telefono', this.data.telefono);
				this.data.pais && request.append('pais_id', this.data.pais.id);
				this.data.password && request.append('clave', this.data.password);
				this.data.confirmPassword && request.append('clave_confirmation', this.data.confirmPassword);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data;
					this.limpiar();
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			validarEmail() {
				if(this.data.email) {
			    	let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			      	if(re.test(this.data.email)) {
			      		this.valid.email = 'is-valid';
			      	}
			      	else {
			      		this.valid.email = 'is-invalid';
			      	};
			    }
			    else {
			    	this.valid.email = 'is-invalid';
			    }
		    },
		    validarPassword() {
		    	if(this.data.password) {
		    		if(this.data.password.toString().length > 7) {
		    			this.valid.password = 'is-valid';
		    		}
		    		else {
		    			this.valid.password = 'is-invalid';
		    		}
		    	}
		    },
		    validarConfirmPassword() {
		    	if(this.data.confirmPassword) {
		    		if(this.data.confirmPassword.toString().length > 7 && 
		    		   this.data.password == this.data.confirmPassword
		    		) {
		    			this.valid.confirmPassword = 'is-valid';
		    		}
		    		else {
		    			this.valid.confirmPassword = 'is-invalid';
		    		}
		    	}
		    },
			limpiar() {
				this.data = {
					cedula: null,
					nombre: null,
					apellidos: null,
					email: null,
					pais: null,
					telefono: null,
					password: null,
					confirmPassword: null
				};
				this.valid = {
					email: '',
					password: '',
					confirmPassword: ''
				};
			}
		}
	}
</script>