<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Editar administrador
			</template>

            <template slot="main">
               <div class="row">
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Cédula</label>
						<input type="text" class="form-control" v-model="data.cedula" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Nombre</label>
						<input type="text" class="form-control" v-model="data.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Apellidos</label>
						<input type="text" class="form-control" v-model="data.apellidos" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>
							Email
						</label>
						<input type="text" class="form-control" @blur="validarEmail()" :class="valid.email" v-model="data.email" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>Teléfono</label>
						<input type="text" class="form-control" @keypress="$root.isNumberKey" v-model="data.telefono" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<label>País</label>
						<v-select label="nombre" :options="selects.paises" v-model="data._pais"></v-select>
               		</div>
           		</div>
            </template>

            <template slot="footer">
            	<button class="btn btn-success btn-sm" :disabled="inhabilitarGuardar" @click="guardar()">
            		Guardar
            	</button>
				<a :href="url.current" class="btn btn-secondary btn-sm">Volver</a>
            </template>
        </panel>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + '/sistema/administradores',
                    permisos: [],
                },
				data: {
					cedula: null,
					nombre: null,
					apellidos: null,
					email: null,
					teleofono: null,
					_pais: null,
				},
				valid: {
					email: '',
				},
				selects: {
					paises: []
				}
			}
		},
        computed: {
        	inhabilitarGuardar: function() {
        		return !(
        			this.data.cedula &&
        			this.data.nombre &&
        			this.data.apellidos &&
        			this.valid.email == 'is-valid'
        		);
        	},
        },
        mounted() {
        	this.iniciar();
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			iniciar() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				request.append('id', this.$route.params.id);

				axios.post(this.url.current + '/editar', request)
				.then(response => {
					this.data = response.data.admin;
					this.selects.paises = response.data.paises;
					this.validarEmail();
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			guardar(page = 1) {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				request.append('id', this.$route.params.id);
				this.data.cedula && request.append('cedula', this.data.cedula);
				this.data.nombre && request.append('nombre', this.data.nombre);
				this.data.apellidos && request.append('apellidos', this.data.apellidos);
				this.data.email && request.append('email', this.data.email);
				this.data.telefono && request.append('telefono', this.data.telefono);
				this.data._pais && request.append('pais_id', this.data._pais.id);

				axios.post(this.url.current + '/actualizar', request)
				.then(response => {
					this.success = response.data;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			validarEmail() {
				if(this.data.email) {
			    	let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			      	if(re.test(this.data.email)) {
			      		this.valid.email = 'is-valid';
			      	}
			      	else {
			      		this.valid.email = 'is-invalid';
			      	};
			    }
		    },
		}
	}
</script>