<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-md-1 col-lg-1">
						<label class="font-weight-bold">ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Nombre</label>
						<input type="text" class="form-control" v-model="filters.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Email</label>
						<input type="text" class="form-control" v-model="filters.email" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Estado</label>
						<v-select :options="selects.estados" v-model="filters.estado"></v-select>
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Administradores ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<a :href="url.current + '/crear'" class="btn btn-success btn-sm">Crear nuevo</a>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
	               				<th>Nombre</th>
	               				<th>Email</th>
	               				<th>País</th>
	               				<th>Cedula</th>
	               				<th>Teléfono</th>
	               				<th>Estado</th>
	               				<th>Fecha creación</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 8 : 7">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td>{{ value.id }}</td>
		               				<td>{{ value.nombre }}</td>
		               				<td>{{ value.email }}</td>
		               				<td>{{ value._pais ? value._pais.nombre : '-'}}</td>
		               				<td>{{ value.cedula }}</td>
		               				<td>{{ value.telefono ? value.telefono : '-' }}</td>
		               				<td>
		               					<span v-html="verificarEstatus(value.activo)"></span>
		               				</td>
		               				<td>{{ value.created_at | dateTime }}</td>
		               				<td>
		               					<button class="btn btn-info btn-sm" @click="editar(value.id)" :title="'Editar administrador #' + value.id">
		               						<i class="fa fa-edit fa-fw"></i>
		               					</button>
		               					<button class="btn btn-warning btn-sm" v-if="!value.provider" @click="verCambiarClave(index)" :title="'Cambiar clave de usuario #' + value.id">
		               						<i class="fa fa-lock fa-fw"></i>
		               					</button>
		               					<!-- <button class="btn btn-primary btn-sm" @click="verPermisosPerfiles(value.id)" :title="'Administrar acciones asociadas a perfil #' + value.id">
		               						<i class="fa fa-list-alt fa-fw"></i>
		               					</button> -->
		               					<button class="btn btn-danger btn-sm" v-if="value.activo && value.removable" @click="desactivar(index)" :title="'Desactivar administrador #' + value.id">
		               						<i class="fa fa-ban fa-fw"></i>
		               					</button>
		               					<button class="btn btn-success btn-sm" v-if="!value.activo" @click="reactivar(index)" :title="'Reactivar administrador #' + value.id">
		               						<i class="fa fa-check fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
		               		</template>

		               		<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 8 : 7">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>

        <modal id="modalCambiarClave" type="detalles">
        	<template slot="header">
				Cambiar clave de usuario {{ usuario && usuario.email ? usuario.email : ''}}
        	</template>
        	<template slot="main">
        		<div class="row" v-if="usuario">
        			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label>Clave <span class="text-red">*</span>
							<i class="fa fa-info-circle" 
							title="La clave debe contener al menos 8 caracteres"></i>
						</label>
						<input type="password" class="form-control" @blur="validarPassword()" :class="valid.password" v-model="password.value" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label>Confirmar clave <span class="text-red">*</span></label>
						<input type="password" class="form-control" @keyup="validarConfirmPassword()" :class="valid.confirmPassword" v-model="password.confirmed" />
               		</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-success btn-sm" :disabled="inhabilitarCambioClave" @click="cambiarClave()">Cambiar clave</button>
        	</template>
        </modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				selects: {
					estados: [
						{label: 'Activo', value: 1},
						{label: 'Inactivo', value: 0}
					]
				},
				filters: {
					id: null,
					nombre: null,
					email: null,
					estado: null,
				},
				valid: {
					password: '',
					confirmPassword: ''
				},
				password: {
					value: null,
					confirmed: null
				},
				table: {
					filtrando: false,
					showActions: true
				},
				usuario: null
			}
		},
		mounted: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
        computed: {
        	inhabilitarCambioClave() {
        		return !(
        			this.valid.password == 'is-valid' &&
        			this.valid.confirmPassword == 'is-valid'
        		)
        	},
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiarValid() {
				this.valid = {
					password: '',
					confirmPassword: ''
				};
			},
			limpiarPassword() {
				this.password = {
					value: null,
					confirmed: null
				};
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;
				request.append('page', page);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.nombre && request.append('nombre', this.filters.nombre);
				this.filters.email && request.append('email', this.filters.email);
				this.filters.estado && request.append('estado', this.filters.estado.value);

				axios.post(this.url.current, request)
				.then(response => {
					this.rows = response.data.administradores;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			limpiar() {
				this.filters = {
					id: null,
					nombre: null,
					email: null,
					estado: null,
				};
				this.filtrar(1);
			},
			verificarEstatus(estado) {
				let activo;
				if(estado == 1) {
					activo = '<span class="badge badge-success">Activo</span>';
				}
				else {
					activo = '<span class="badge badge-danger">Inactivo</span>';
				}
				return activo;
			},
			editar(id) {
				window.location = this.url.current + '/' + id + '/editar';
			},
			verCambiarClave(key) {
				this.limpiarMensajes();
				this.usuario = this.rows.data[key];
				$('#modalCambiarClave').modal();

				$('#modalCambiarClave').on('hide.bs.modal', () => {
					this.usuario = null;
					this.limpiarPassword();
					this.limpiarValid();
				});
			},
			cambiarClave() {
				let load = loading(this);

				let request = new FormData;
				request.append('id', this.usuario.id);
				this.password.value && request.append('password', this.password.value);
				this.password.confirmed && request.append('password_confirmation', this.password.confirmed);

				axios.post(this.url.current + '/editar_clave', request)
				.then(response => {
					this.success = response.data.success;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					window.scroll(0,0);
					$('#modalCambiarClave').modal('hide');
				})
			},
			verPermisosPerfiles(id) {
				window.location = this.url.current + '/' + id + '/permisos';
			},
			desactivar(key) {
				this.limpiarMensajes();

				let usuario = this.rows.data[key];
				this.$swal({
					text: '¿Esta seguro que desea deshabilitar el administrador "' + usuario.nombre_completo + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: false,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/desactivar', {'id': usuario.id})
						.then(response => {
							this.success = response.data.success;
							this.rows.data[key] = response.data.admin;
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
			reactivar(key) {
				this.limpiarMensajes();
				
				let usuario = this.rows.data[key];
				this.$swal({
					text: '¿Esta seguro que desea reactivar el administrador "' + usuario.nombre_completo + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: false,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/reactivar', {'id': usuario.id})
						.then(response => {
							this.success = response.data.success;
							this.rows.data[key] = response.data.admin;
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
			validarPassword() {
		    	if(this.password.value) {
		    		if(this.password.value.toString().length > 7) {
		    			this.valid.password = 'is-valid';
		    		}
		    		else {
		    			this.valid.password = 'is-invalid';
		    		}
		    	}
		    },
		    validarConfirmPassword() {
		    	if(this.password.confirmed) {
		    		if(this.password.confirmed.toString().length > 7 && 
		    		   this.password.value == this.password.confirmed
		    		) {
		    			this.valid.confirmPassword = 'is-valid';
		    		}
		    		else {
		    			this.valid.confirmPassword = 'is-invalid';
		    		}
		    	}
		    },
		}
	}
</script>