<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="list">
			<template slot="header">
				Listado de acciones | 
				<span v-if="Object.keys(admin).length > 0">
					{{ admin.nombre_completo }}
				</span>
			</template>

			<template slot="buttons">
				<div class="d-flex">
					<div class="input-group mr-2">
					    <input type="text" class="form-control" placeholder="Buscar" />
					    <div class="input-group-prepend">
					      <div class="input-group-text" id="btnGroupAddon">
					      	<i class="fa fa-search"></i>
					      </div>
					    </div>
					</div>
					<button class="btn btn-success btn-sm" @click="guardar()">Guardar</button>
				</div>
			</template>

            <template slot="main">
            	<div class="w-100">
            		<template v-if="table.filtrando">
            			<div class="accordion">
	            			<div class="card bg-dark text-white">
								<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed">
									Buscando datos
								</div>
	           				</div>
	           			</div>
           			</template> 
           			<template v-else-if="!table.filtrando && secciones.length > 0">
           				<!-- SECCIONES -->
						<div id="accordion_seccion" class="accordion">
							<template v-for="seccion in secciones">
								<div class="card bg-dark text-white">
									<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" :data-target="'#collapse_s'+seccion.id" aria-expanded="false">
										{{ seccion.nombre | ucwords }}
									</div>
									<div :id="'collapse_s'+seccion.id" class="collapse" data-parent="#accordion_seccion">
										<div class="card-body">
											<!-- MENUS -->
											<div id="accordion_menu" class="accordion" v-if="seccion._menus.length > 0">
												<template v-for="menu in seccion._menus">
													<div class="card bg-white text-black">
														<div class="card-header bg-white-lighter pointer-cursor d-flex align-items-center collapsed" data-toggle="collapse" :data-target="'#collapse_m'+menu.id" aria-expanded="false">
															<i class="fa-fw mr-2 text-blue" :class="menu.icono"></i>
															{{ menu.nombre | capitalize }}
														</div>
														<div :id="'collapse_m'+menu.id" class="collapse" data-parent="#accordion_menu">
															<!-- ACCIONES -->
															<template v-if="menu._acciones.length > 0">
																<template v-for="accion in menu._acciones">
																	<div class="accordion">
												            			<div class="card">
																			<div class=" card-header pointer-cursor clearfix">
																				<span class="float-left">
																					{{ accion.nombre | capitalize }}
																				</span>
																				<span class="float-right">
																					<span class="checkbox checkbox-css">
																						<input type="checkbox" :id="'cssCheckbox'+ accion.id" v-model="accion.check">
																						<label :for="'cssCheckbox' + accion.id"></label>
																					</span>
																				</span>
																			</div>
												           				</div>
												           			</div>
																</template>
															</template>
															<template v-else>
																<div class="accordion">
											            			<div class="card">
																		<div class="card-header pointer-cursor d-flex align-items-center collapsed">
																			Sin acciones asociadas
																		</div>
											           				</div>
											           			</div>
															</template>
														</div>
													</div>
												</template>
											</div>
											<div v-else>
						            			<div class="card bg-white text-black">
													<div class="card-header pointer-cursor d-flex align-items-center collapsed">
														Sin menús asociados
													</div>
						           				</div>
											</div>
										</div>
									</div>
								</div>
							</template>
						</div>
					</template>
					<template v-else>
						<div class="accordion">
	               			<div class="card bg-dark text-white">
								<div class="card-header bg-dark-darker pointer-cursor d-flex align-items-center collapsed">
									Busqueda finalizada. No se han encontrado datos
								</div>
	           				</div>
	           			</div>
               		</template>
				</div>
            </template>
        </panel>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				selects: {
					estados: [
						{label: 'Activo', value: 1},
						{label: 'Inactivo', value: 0}
					]
				},
				filters: {
					id: null,
					nombre: null,
					estado: null,
				},
				secciones: [],
				admin: {},
				table: {
					filtrando: false,
					showActions: true
				}
			}
		},
		created: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					nombre: null,
					estado: null,
				};
				this.filtrar(1);
			},
			filtrar() {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;

				this.filters.id && request.append('id', this.filters.id);
				this.filters.nombre && request.append('nombre', this.filters.nombre);
				this.filters.estado && request.append('estado', this.filters.estado.value);

				axios.post(this.url.current, request)
				.then(response => {
					this.secciones = response.data.secciones;
					this.admin = response.data.admin;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			guardar() {
				this.limpiarMensajes();
				let load = loading(this);
				let permisos = [];

				this.secciones.map(seccion => {
					seccion._menus.map(menu => {
						menu._acciones.map(accion => {
							if(accion.check) {
								permisos.push(accion.id);
							}
						});
					});
				});

				axios.post(this.url.current + '/guardar', {permisos: permisos})
				.then(response => {
					this.success = response.data.success;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
				})
			}
		}
	}
</script>