@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	background-image: url('../images/login/road-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}

.container{
	height: 100%;
	align-content: center;
}

.card{
	min-height: 310px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
	color: white;
}

img.icon{
	height: 16px;
	width: 100%;
    line-height: 1;
}

img.icon-login{
	height: 16px;
    line-height: 1;
}

img.icon-start{
	color: #000000 !important;
	height: 26px;
    line-height: 1;
}

.input-group-prepend span{
	width: 50px;
	background-color: #FFC312;
	color: black;
	border:0 !important;
}

input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;

}

input::placeholder {
	color: #ADADAD !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

.invalid-feedback {
	color: #FFFFFF;
}