<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
						<label>ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
						<label>Nombre</label>
						<input type="text" class="form-control" v-model="filters.nombre" />
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Subtipos ({{ rows.total }} registrados) | {{ tipo ? tipo.nombre : '' }}
			</template>

			<template slot="buttons">
				<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalCrearSubtipo">Crear nuevo</button>
				<a :href="$root.base_url + '/mantenedor/tipos'" class="btn btn-default btn-sm">Volver</a>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
	               				<th>Nombre</th>
	               				<th>Descripción</th>
	               				<th>Fecha creación</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 6 : 5">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td>{{ value.id }}</td>
		               				<td>{{ value.nombre }}</td>
		               				<td>{{ value.descripcion }}</td>
		               				<td>{{ value.created_at | dateTime }}</td>
		               				<td>
		               					<button class="btn btn-info btn-sm" @click="editar(index)" :title="'Editar tipo #' + value.id">
		               						<i class="fa fa-edit fa-fw"></i>
		               					</button>
		               					<button class="btn btn-danger btn-sm" @click="eliminar(index)" :title="'Eliminar tipo #' + value.id">
		               						<i class="fa fa-times fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
	               			</template>

	               			<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 6 : 5">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>

        <modal id="modalCrearSubtipo" type="crear">
        	<template slot="header">
        		Nuevo subtipo | {{ tipo ? tipo.nombre : ''}}
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Nombre</label>
        				<input type="text" class="form-control" v-model="subtipo.nombre" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Descripción</label>
        				<textarea type="text" class="form-control" rows="5" v-model="subtipo.descripcion" />
        			</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-success" @click="crear()">Guardar</button>
        	</template>
        </modal>

        <modal id="modalEditarSubtipo" type="editar">
        	<template slot="header">
        		Editar subtipo #<span v-if="subtipo.key != null">{{ rows.data[subtipo.key].id }}</span>
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Nombre</label>
        				<input type="text" class="form-control" v-model="subtipo.nombre" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Descripción</label>
        				<textarea type="text" class="form-control" rows="5" v-model="subtipo.descripcion" />
        			</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-info" @click="actualizar()">Guardar</button>
        	</template>
        </modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					nombre: null,
				},
				subtipo: {
					key: null,
					nombre: null,
					descripcion: null,
				},
				table: {
					filtrando: false,
					showActions: true
				},
				tipo: null,
			}
		},
		created: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					nombre: null,
				};
				this.filtrar(1);
			},
			limpiarSubtipo() {
				this.subtipo = {
					key: null,
					nombre: null,
					descripcion: null,
				};
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;
				request.append('page', page);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.nombre && request.append('nombre', this.filters.nombre);

				axios.post(this.url.current, request)
				.then(response => {
					this.tipo = response.data.tipo;
					this.rows = response.data.subtipos;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			crear() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				request.append('tipo_id', this.$route.params.idTipo);
				this.subtipo.nombre && request.append('nombre', this.subtipo.nombre);
				this.subtipo.descripcion && request.append('descripcion', this.subtipo.descripcion);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data.mensaje;
					this.rows.data.unshift(response.data.subtipo);
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.limpiarSubtipo();
					$('#modalCrearSubtipo').modal('hide');
				})
			},
			editar(key) {
				this.subtipo.key = key;
				this.subtipo.nombre = this.rows.data[key].nombre;
				this.subtipo.descripcion = this.rows.data[key].descripcion;
				$('#modalEditarSubtipo').modal();

				$('#modalEditarSubtipo').on('hide.bs.modal', () => {
					this.limpiarSubtipo();
				});
			},
			actualizar() {
				this.limpiarMensajes();
				let load = loading(this);

				let key = this.subtipo.key;
				let request = new FormData;
				request.append('id', this.rows.data[key].id);
				request.append('tipo_id', this.$route.params.idTipo);
				this.subtipo.nombre && request.append('nombre', this.subtipo.nombre);
				this.subtipo.descripcion && request.append('descripcion', this.subtipo.descripcion);

				axios.post(this.url.current + '/actualizar', request)
				.then(response => {
					this.success = response.data.mensaje;
					this.rows.data[key] = response.data.subtipo;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					$('#modalEditarSubtipo').modal('hide');
				})
			},
			eliminar(key) {
				this.limpiarMensajes();

				let subtipo = this.rows.data[key];
				this.$swal({
					text: '¿Esta seguro que desea eliminar el subtipo "' + subtipo.nombre + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: true,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/eliminar', {'id': subtipo.id})
						.then(response => {
							this.success = response.data.mensaje;
							this.rows.data.splice(key, 1);
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
		}
	}
</script>