<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-md-1 col-lg-1">
						<label class="font-weight-bold">ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Nombre</label>
						<input type="text" class="form-control" v-model="filters.nombre" />
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Paises ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalCrearPais">Crear nuevo</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
	               				<th>Nombre País</th>
	               				<th>Moneda</th>
	               				<th>Fecha creación</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 6 : 5">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td>{{ value.id }}</td>
		               				<td nowrap>{{ value.nombre ? value.nombre : '-' }}</td>
		               				<td nowrap>
		               					<template v-if="value._moneda">
		               						{{value._moneda.nombre}} ({{value._moneda.diminutivo}})
		               					</template>
		               					<template v-else>-</template>
		               				</td>
		               				<td nowrap>{{ value.created_at | dateTime }}</td>
		               				<td nowrap>
		               					<button class="btn btn-info btn-sm" @click="editar(index)" :title="'Editar país #' + value.id">
		               						<i class="fa fa-edit fa-fw"></i>
		               					</button>
		               					<button class="btn btn-danger btn-sm" @click="eliminar(index)" :title="'Eliminar país #' + value.id">
		               						<i class="fa fa-times fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
	               			</template>

	               			<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 6 : 5">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>

        <modal id="modalCrearPais" type="crear">
        	<template slot="header">
        		Nuevo país
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Nombre</label>
        				<input type="text" class="form-control" v-model="pais.nombre" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
						<label>Moneda</label>
						<v-select label="nombre" :options="selects.monedas" v-model="pais.moneda" multiple>
							<template #option="option">
						        {{ option.nombre }} ({{ option.diminutivo }})
						    </template>

						    <template #selected-option="option" >
                                {{ option.nombre }} ({{ option.diminutivo }})
                            </template>
						</v-select>
               		</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-success" @click="crear()">Guardar</button>
        	</template>
        </modal>

        <modal id="modalEditarPais" type="editar">
        	<template slot="header">
        		Editar país #<span v-if="pais.key != null">{{ rows.data[pais.key].id }}</span></span>
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Nombre</label>
        				<input type="text" class="form-control" v-model="pais.nombre" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
						<label>Moneda</label>
						<v-select label="nombre" :options="selects.monedas" v-model="pais.moneda">
							<template v-slot:option="option">
						        {{ option.nombre }} ({{ option.diminutivo }})
						    </template>

						    <template v-slot:selected-option="option" >
                                {{ option.nombre }} ({{ option.diminutivo }})
                            </template>
						</v-select>
               		</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-info" @click="actualizar()">Guardar</button>
        	</template>
        </modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + '/mantenedor/paises',
                    permisos: {},
                },
				rows: {
					data: [],
					total: 0,
					last_page: 1
				},
				selects: {
					monedas: []
				},
				filters: {
					id: null,
					nombre: null,
					moneda: null,
				},
				pais: {
					key: null,
					nombre: null,
					moneda: null,
				},
				table: {
					filtrando: false,
					showActions: true
				}
			}
		},
		mounted: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					nombre: null,
					moneda: null
				};
				this.filtrar(1);
			},
			limpiarPais() {
				this.pais = {
					key: null,
					nombre: null,
					moneda: null,
				};
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;
				request.append('page', page);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.nombre && request.append('nombre', this.filters.nombre);
				this.filters.moneda && request.append('id_moneda', this.filters.moneda.id);

				axios.post(this.url.current, request)
				.then(response => {
					this.rows = response.data.paises;
					this.selects.monedas = response.data.monedas;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			crear() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				this.pais.nombre && request.append('nombre', this.pais.nombre);
				this.pais.apodo && request.append('apodo', this.pais.apodo);
				this.pais.moneda && request.append('moneda_id', this.pais.moneda.id);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data.mensaje;
					this.rows.data.unshift(response.data.pais);
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.limpiarPais();
					$('#modalCrearPais').modal('hide');
				})
			},
			editar(key) {
				this.pais.key = key;
				this.pais.nombre = this.rows.data[key].nombre;
				this.pais.moneda = this.rows.data[key]._moneda;

				$('#modalEditarPais').modal();

				$('#modalEditarPais').on('hide.bs.modal', () => {
					this.limpiarPais();
				});
			},
			actualizar() {
				this.limpiarMensajes();
				let load = loading(this);

				let key = this.pais.key;
				let request = new FormData;
				request.append('id', this.rows.data[key].id);
				this.pais.nombre && request.append('nombre', this.pais.nombre);
				this.pais.moneda && request.append('moneda_id', this.pais.moneda.id);

				axios.post(this.url.current + '/actualizar', request)
				.then(response => {
					this.success = response.data.mensaje;
					this.rows.data[key] = response.data.pais;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					$('#modalEditarPais').modal('hide');
				})
			},
			eliminar(key) {
				this.limpiarMensajes();

				let pais = this.rows.data[key];
				this.$swal({
					text: '¿Esta seguro que desea eliminar el país "' + pais.nombre + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: true,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/eliminar', {'id': pais.id})
						.then(response => {
							this.success = response.data.mensaje;
							this.rows.data.splice(key, 1);
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
		}
	}
</script>