<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="form">
			<template slot="header">
				Crear nueva sección
			</template>

            <template slot="main">
               <div class="row">
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Nombre</label>
						<input type="text" class="form-control" v-model="data.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Ruta</label>
						<input type="text" class="form-control" v-model="data.ruta" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Icono</label>
						<v-select :options="selects.iconos" v-model="data.icono">
						    <template #option="option">
						        <i :class="option.label"></i>
						        {{ option.label }}
						    </template>
						 </v-select>
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Orden</label>
						<input type="text" class="form-control" v-model="data.orden" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-8 col-lg-8">
						<label>Descripción</label>
						<input type="text" class="form-control" v-model="data.descripcion" />
               		</div>
           		</div>
            </template>

            <template slot="footer">
            	<button class="btn btn-success btn-sm" :disabled="inhabilitarGuardar" @click="guardar()">
            		Guardar
            	</button>
				<a :href="url.current" class="btn btn-secondary btn-sm">Volver</a>
            </template>
        </panel>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + '/sistema/secciones',
                    permisos: {},
                },
				data: {
					nombre: null,
					ruta: null,
					icono: null,
					orden: null,
					descripcion: null,
				},
				selects: {
					iconos: [],
				}
			}
		},
		mounted() {
        	this.iniciar();
        },
        computed: {
        	inhabilitarGuardar: function() {
        		return !(
        			this.data.nombre 
        			&& this.data.ruta
        			&& this.data.icono
        			&& this.data.orden
        		);
        	},
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			iniciar() {
				this.limpiarMensajes();
				let load = loading(this);

				axios.post(this.url.current + '/crear')
				.then(response => {
					this.selects.iconos = response.data.iconos;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			guardar() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				this.data.nombre && request.append('nombre', this.data.nombre);
				this.data.ruta && request.append('ruta', this.data.ruta);
				this.data.icono && request.append('icono', this.data.icono);
				this.data.orden && request.append('orden', this.data.orden);
				this.data.descripcion && request.append('descripcion', this.data.descripcion);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data.success;
					this.limpiar();
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			limpiar() {
				this.data = {
					nombre: null,
					ruta: null,
					icono: null,
					orden: null,
					descripcion: null,
				};
			}
		}
	}
</script>