<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
						<label class="font-weight-bold">ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
						<label class="font-weight-bold">Nombre</label>
						<input type="text" class="form-control" v-model="filters.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
						<label class="font-weight-bold">Ruta</label>
						<input type="text" class="form-control" v-model="filters.ruta" />
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Secciones ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<a :href="url.current + '/crear'" class="btn btn-success btn-sm">Crear nuevo</a>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th></th> <!--Icono-->
	               				<th>ID</th>
	               				<th>Orden</th>
	               				<th>Nombre</th>
	               				<th>Ruta</th>
	               				<th>Descripción</th>
	               				<th>Fecha creación</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 8 : 7">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td class="text-center">
		               					<span :class="value.icono"></span>
		               				</td>
		               				<td>{{ value.id }}</td>
		               				<td>{{ value.orden }}</td>
		               				<td>{{ value.nombre }}</td>
		               				<td>{{ value.ruta }}</td>
		               				<td>{{ value.descripcion }}</td>
		               				<td>{{ value.created_at | dateTime }}</td>
		               				<td nowrap>
		               					<button class="btn btn-info btn-sm" @click="editar(value.id)" :title="'Editar sección #' + value.id">
		               						<i class="fa fa-edit fa-fw"></i>
		               					</button>
		               					<button class="btn btn-primary btn-sm" @click="verMenus(value.id)" :title="'Ver menus asociados a sección #' + value.id">
		               						<i class="fa fa-eye fa-fw"></i>
		               					</button>
		               					<button class="btn btn-danger btn-sm" @click="eliminar(index)" :title="'Eliminar sección #' + value.id">
		               						<i class="fa fa-trash fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
	               			</template>

	               			<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 8 : 7">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				selects: {

				},
				filters: {
					id: null,
					nombre: null,
					ruta: null,
				},
				table: {
					filtrando: false,
					showActions: true
				}
			}
		},
		mounted: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					nombre: null,
					estado: null,
				};
				this.filtrar(1);
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;
				request.append('page', page);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.nombre && request.append('nombre', this.filters.nombre);
				this.filters.ruta && request.append('ruta', this.filters.ruta);

				axios.post(this.url.current, request)
				.then(response => {
					this.rows = response.data.secciones;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			crear() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				this.perfil.nombre && request.append('nombre', this.perfil.nombre);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data.success;
					this.rows.data.unshift(response.data.perfil);
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.limpiarPerfil();
					$('#modalCrearPerfil').modal('hide');
				})
			},
			editar(id) {
				window.location = this.url.current + '/' + id + '/editar';
			},
			verMenus(id) {
				window.location = this.url.current + '/' + id + '/menus';
			},
			actualizar() {
				this.limpiarMensajes();
				let load = loading(this);

				let key = this.perfil.key;
				let request = new FormData;
				request.append('id', this.rows.data[key].id);
				this.perfil.nombre && request.append('nombre', this.perfil.nombre);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data.success;
					this.rows.data[key] = response.data.perfil;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					$('#modalEditarPerfil').modal('hide');
				})
			},
			eliminar(key) {
				this.limpiarMensajes();

				let seccion = this.rows.data[key];

				this.$swal({
					text: '¿Esta seguro que desea eliminar la sección de "' + seccion.nombre + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: false,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/eliminar', {id: seccion.id})
						.then(response => {
							this.success = response.data.success;
							this.rows.data.splice(key, 1);
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
		}
	}
</script>