<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
						<label>ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
						<label>Pais</label>
						<v-select :options="selects.paises" label="nombre" v-model="filters.pais" />
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Bancos ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalCrearBanco">Crear nuevo</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
	               				<th>Nombre</th>
								<th>Tipos de cuentas</th>
	               				<th>País</th>
	               				<th>Fecha creación</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 6 : 5">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td>{{ value.id }}</td>
		               				<td>{{ value.razon_social }}</td>
									<td>
										<template v-for="(tipo, i) in value._tipos">
											<label class="label"
											:title="tipo.pivot.id_estado == 1 ? 'Desactivar' : 'Activar'"
											:class="{'label-success' : (tipo.pivot.id_estado == 1),'label-warning' : (tipo.pivot.id_estado == 2) }">
												{{ tipo.nombre}} &nbsp;
												<span class="pointer" @click="cambiarEstado(index, i)">x</span>
											</label>&nbsp;
											<br  v-if="i==0 &&  i&3 == 0"/>
										</template>
									</td>
	               				    <td>{{ value._pais ? value._pais.nombre : '' }}</td>
		               				<td>{{ value.created_at | dateTime }}</td>
		               				<td>
		               					<button class="btn btn-info btn-sm" @click="editar(index)" :title="'Editar banco #' + value.id">
		               						<i class="fa fa-edit fa-fw"></i>
		               					</button>
		               					<button class="btn btn-danger btn-sm" @click="eliminar(index)" :title="'Eliminar banco #' + value.id">
		               						<i class="fa fa-times fa-fw"></i>
		               					</button>
										<button class="btn btn-danger btn-sm" @click="modalAsignar(index)" title="'Asignar tipo de cuenta'">
		               						<i class="fa fa-cog fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
	               			</template>

	               			<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 6 : 5">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>

        <modal id="modalCrearBanco" type="crear">
        	<template slot="header">
        		Nuevo Banco
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Razon Social</label>
        				<input type="text" placeholder="Nombre" class="form-control" v-model="banco.razon_social" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>País</label>
        				<v-select :options="selects.paises" label="nombre" v-model="banco.pais"/>
        			</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-success" @click="crear()">Guardar</button>
        	</template>
        </modal>

        <!-- EDITAR -->
        <modal id="modalEditarBanco" type="crear">
            <template slot="header">
                Editar Banco N#{{banco.id}}
            </template>
            <template slot="main">
                <div class="row">
                    <div class="form-group col-xs-12 col-lg-12">
                        <label>Razon Social</label>
                        <input type="text" placeholder="Nombre" class="form-control" v-model="banco.razon_social" />
                    </div>
                    <div class="form-group col-xs-12 col-lg-12">
                        <label>País</label>
                        <v-select :options="selects.paises" label="nombre" v-model="banco.pais"/>
                    </div>
                </div>
            </template>
            <template slot="footer">
                <button class="btn btn-success" @click="actualizar()">Guardar</button>
            </template>
        </modal>

		<!-- asignar tipo de cuenbtas -->
		<modal id="modalAsignarCuenta">
			<template #header> Asignar Tipo de cuenta  Banco: {{rows.data && asignar.key ? rows.data[asignar.key].razon_social : ''}}</template>
			<template #main>
				<div class="row">
					<div class="form-group col-xs-12">
						<label> Tipo de cuenta </label>
						<v-select :options="selects.tipos_cuentas" label="nombre" v-model="asignar.tipo_cuenta"/>
					</div>
				</div>
			</template>
			<template #footer>
				<button class="btn btn-success btn-sm" @click="asignaSave()">Guardar</button>
			</template>
		</modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + this.$route.path,
                    permisos: {},
                },
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					pais: null,
				},
				table: {
					filtrando: false,
					showActions: true
				},
                banco: {
                    id : null,
                    key : null,
                    razon_social : null,
                    pais : null,
                },
                selects : {
                    paises : [],
					tipos_cuentas : [],
                },
				asignar : {
					key : null,
					tipo_cuenta : null,
				}
			}
		},
		created: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					pais: null,
				};
				this.filtrar(1);
			},
			limpiarBanco() {
                this.banco = {
                    id : null,
                    key : null,
                    razon_social : null,
                    pais : null,
                };
                this.$forceUpdate();
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;
				request.append('page', page);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.pais && request.append('pais_id', this.filters.pais.id);

				axios.post(this.url.current, request)
				.then(response => {
					this.rows = response.data.bancos;
                    this.selects.paises = response.data.paises;
					this.selects.tipos_cuentas = response.data.tipos_cuentas;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			crear() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				this.banco.razon_social && request.append('razon_social', this.banco.razon_social);
				this.banco.pais && request.append('pais_id', this.banco.pais.id);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success.push(response.data.success);
                    this.rows.data.unshift(response.data.banco);
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.limpiarBanco();
					$('#modalCrearBanco').modal('hide');
				})
			},
			editar(key) {
				this.banco.key = key;
                let banco = this.rows.data[key];
                this.banco.key = key;
                this.banco.id  = banco.id;
				this.banco.razon_social = banco.razon_social;
				this.banco.pais = banco._pais;
				$('#modalEditarBanco').modal();
				$('#modalEditarBanco').on('hide.bs.modal', () => {
					this.limpiarBanco();
				});
			},
			actualizar() {
				this.limpiarMensajes();
				let load = loading(this);

				let key = this.banco.key;
				let request = new FormData;

				this.banco.id && request.append('id', this.banco.id);
				this.banco.razon_social && request.append('razon_social', this.banco.razon_social);
                this.banco.pais && request.append('pais_id', this.banco.pais.id);

				axios.post(this.url.current + '/actualizar', request)
				.then(response => {
					this.success.push(response.data.success);
					this.rows.data[key] = response.data.banco;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					$('#modalEditarBanco').modal('hide');
				})
			},
			eliminar(key) {
				this.limpiarMensajes();

				let banco = this.rows.data[key];
				this.$swal({
					text: '¿Esta seguro que desea eliminar "' + banco.razon_social + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: true,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/eliminar', {'id': banco.id})
						.then(response => {
							this.success.push(response.data.success);
							this.rows.data.splice(key, 1);
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
			modalAsignar(index){
				this.asignar.key = index;
				$("#modalAsignarCuenta").modal();
				$("#modalAsignarCuenta").on('hide.bs.modal',()=>{
					this.asignar.key = null;
					this.asignar.tipo_cuenta = null;
				});
			},
			asignaSave(){
				this.limpiarMensajes();
				let load = loading(this);
				let request = new FormData;
				request.append('id',this.rows.data[this.asignar.key].id);
				this.asignar.tipo_cuenta && request.append('id_tipo_cuenta',this.asignar.tipo_cuenta.id);

				axios.post(this.url.current + '/asignar', request)
				.then(response => {
					this.success.push(response.data.success);
                    this.rows.data[this.asignar.key] = response.data.banco;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.limpiarBanco();
					$('#modalCrearBanco').modal('hide');
				})
			},
			cambiarEstado(banco_key, tipo_key){
				let banco = this.rows.data[banco_key];
				let tipo = banco._tipos[tipo_key];
				let estado = tipo.pivot.id_estado == 1 ? 'desactivar' : 'activar';
				let url = '/tipo/'+estado;

				this.$swal({
					text: '¿Esta seguro que desea '+estado+' Cuenta: "' + tipo.nombre + '" para el Banco: '+banco.razon_social+'?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: true,
				})
				.then((confirm)=>{
					if(confirm.value){
						let load = loading(this);
						axios.post(this.url.current + url, { id_tipo : tipo.pivot.id})
						.then((response)=>{
							banco = response.data.banco;
							this.success.push(response.data.success);
							tipo.pivot.id_estado = tipo.pivot.id_estado == 1 ? 2 : 1;
						})
						.catch((e)=>{
							this.error = this.$root.arrayResponse(e);
						})
						.finally(()=>{
							load.hide();
						});
					}
				})
			},


		}
	}
</script>

<style>
	.pointer{
		cursor: pointer;
	}
</style>
