<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="limpiar">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filtrar">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-md-1 col-lg-1">
						<label class="font-weight-bold">ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Nombre</label>
						<input type="text" class="form-control" v-model="filters.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-4 col-md-3 col-lg-3">
						<label class="font-weight-bold">Apodo</label>
						<input type="text" class="form-control" v-model="filters.apodo" />
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Tipos ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalCrearTipo">Crear nuevo</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
	               				<th>Nombre</th>
	               				<th>Apodo</th>
	               				<th>Descripción</th>
	               				<th>Subtipos</th>
	               				<th>Fecha creación</th>
	               				<th v-if="table.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="table.filtrando">
	               				<tr>
	               					<td :colspan="table.showActions ? 6 : 5">
	               						Buscando datos
	               					</td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!table.filtrando && Object.keys(rows.data).length>0">
		               			<tr v-for="(value, index) in rows.data">
		               				<td>{{ value.id }}</td>
		               				<td nowrap>{{ value.nombre ? value.nombre : '-' }}</td>
		               				<td nowrap>{{ value.apodo ? value.apodo : '-' }}</td>
		               				<td>{{ value.descripcion }}</td>
		               				<td>{{ value._subtipos_count }}</td>
		               				<td nowrap>{{ value.created_at | dateTime }}</td>
		               				<td nowrap>
		               					<button class="btn btn-info btn-sm" @click="editar(index)" :title="'Editar tipo #' + value.id">
		               						<i class="fa fa-edit fa-fw"></i>
		               					</button>
		               					<button class="btn btn-blue btn-sm" @click="verSubtipos(value.id)" title="Ver subtipos asociados">
		               						<i class="fa fa-list-alt fa-fw"></i>
		               					</button>
		               					<button class="btn btn-danger btn-sm" @click="eliminar(index)" :title="'Eliminar tipo #' + value.id">
		               						<i class="fa fa-times fa-fw"></i>
		               					</button>
		               				</td>
		               			</tr>
	               			</template>

	               			<template v-else>
		               			<tr>
		               				<td :colspan="table.showActions ? 6 : 5">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filtrar"></pagination>
            </template>
        </panel>

        <modal id="modalCrearTipo" type="crear">
        	<template slot="header">
        		Nuevo tipo
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Nombre</label>
        				<input type="text" class="form-control" v-model="tipo.nombre" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Apodo</label>
        				<input type="text" class="form-control" v-model="tipo.apodo" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Descripción</label>
        				<textarea type="text" class="form-control" rows="5" v-model="tipo.descripcion" />
        			</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-success" @click="crear()">Guardar</button>
        	</template>
        </modal>

        <modal id="modalEditarTipo" type="editar">
        	<template slot="header">
        		Editar tipo #<span v-if="tipo.key != null">{{ rows.data[tipo.key].id }}</span></span>
        	</template>
        	<template slot="main">
        		<div class="row">
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Nombre</label>
        				<input type="text" class="form-control" v-model="tipo.nombre" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Apodo</label>
        				<input type="text" class="form-control" v-model="tipo.apodo" />
        			</div>
        			<div class="form-group col-xs-12 col-lg-12">
        				<label>Descripción</label>
        				<textarea type="text" class="form-control" rows="5" v-model="tipo.descripcion" />
        			</div>
        		</div>
        	</template>
        	<template slot="footer">
        		<button class="btn btn-info" @click="actualizar()">Guardar</button>
        	</template>
        </modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + '/mantenedor/tipos',
                    permisos: {},
                },
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					nombre: null,
					apodo: null,
				},
				tipo: {
					key: null,
					nombre: null,
					apodo: null,
					descripcion: null,
				},
				table: {
					filtrando: false,
					showActions: true
				}
			}
		},
		created: async function() {
            this.filtrar();
            //this.permisos = await this.$root.permissions('/');
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			limpiar() {
				this.filters = {
					id: null,
					nombre: null,
					apodo: null
				};
				this.filtrar(1);
			},
			limpiarTipo() {
				this.tipo = {
					key: null,
					nombre: null,
					apodo: null,
					descripcion: null,
				};
			},
			filtrar(page = 1) {
				this.limpiarMensajes();
				this.table.filtrando = true;
				let load = loading(this);

				let request = new FormData;
				request.append('page', page);

				this.filters.id && request.append('id', this.filters.id);
				this.filters.nombre && request.append('nombre', this.filters.nombre);
				this.filters.apodo && request.append('apodo', this.filters.apodo);

				axios.post(this.url.current, request)
				.then(response => {
					this.rows = response.data;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.table.filtrando = false;
				})
			},
			crear() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				this.tipo.nombre && request.append('nombre', this.tipo.nombre);
				this.tipo.apodo && request.append('apodo', this.tipo.apodo);
				this.tipo.descripcion && request.append('descripcion', this.tipo.descripcion);

				axios.post(this.url.current + '/guardar', request)
				.then(response => {
					this.success = response.data.mensaje;
					this.rows.data.unshift(response.data.tipo);
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					this.limpiarTipo();
					$('#modalCrearTipo').modal('hide');
				})
			},
			editar(key) {
				this.tipo.key = key;
				this.tipo.nombre = this.rows.data[key].nombre;
				this.tipo.apodo = this.rows.data[key].apodo;
				this.tipo.descripcion = this.rows.data[key].descripcion;

				$('#modalEditarTipo').modal();

				$('#modalEditarTipo').on('hide.bs.modal', () => {
					this.limpiarTipo();
				});
			},
			actualizar() {
				this.limpiarMensajes();
				let load = loading(this);

				let key = this.tipo.key;
				let request = new FormData;
				request.append('id', this.rows.data[key].id);
				this.tipo.nombre && request.append('nombre', this.tipo.nombre);
				this.tipo.apodo && request.append('apodo', this.tipo.apodo);
				this.tipo.descripcion && request.append('descripcion', this.tipo.descripcion);

				axios.post(this.url.current + '/actualizar', request)
				.then(response => {
					this.success = response.data.mensaje;
					this.rows.data[key] = response.data.tipo;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					load.hide();
					$('#modalEditarTipo').modal('hide');
				})
			},
			verSubtipos(id) {
				window.location = this.url.current + '/' + id + '/subtipos';
			},
			eliminar(key) {
				this.limpiarMensajes();

				let tipo = this.rows.data[key];
				this.$swal({
					text: '¿Esta seguro que desea eliminar "' + tipo.nombre + '"?',
					icon: 'warning',
					showConfirmButton: true,
					showCancelButton: true,
				}).then(response => {
					if(response.value) {
						let load = loading(this);

						axios.post(this.url.current + '/eliminar', {'id': tipo.id})
						.then(response => {
							this.success = response.data.mensaje;
							this.rows.data.splice(key, 1);
						})
						.catch(error => {
							this.error = this.$root.arrayResponse(error);
						})
						.finally(() => {
							 load.hide();
						})
					}
				});
			},
		}
	}
</script>