<template>
	<div>
		<alertas :success="message.success" :error="message.error"></alertas>
		<panel type="filtro">
			<template slot="header">
				Filtros
			</template>

			<template slot="buttons">
				<button class="btn btn-warning btn-sm" @click="clear">Limpiar</button>
				<button class="btn btn-success btn-sm" @click="filter">Filtrar</button>
			</template>

            <template slot="main">
               <div class="row">
           			<div class="form-group col-xs-12 col-sm-2 col-ms-1 col-lg-1">
						<label>ID</label>
						<input type="text" class="form-control" v-model="filters.id" />
           			</div>
               		<div class="form-group col-xs-12 col-sm-4 col-ms-3 col-lg-3">
						<label>Estado</label>
               		</div>
           		</div>
            </template>
        </panel>

        <panel type="crud" :footer-class="rows.last_page == 1 ? 'd-none' : ''">
			<template slot="header">
				Clientes ({{ rows.total }} registrados)
			</template>

			<template slot="buttons">
				<button class="btn btn-secondary btn-sm" @click="filter(1)">
					Refrescar <i class="fa fa-sync-alt"></i>
				</button>
			</template>

            <template slot="main">
            	<div class="table-responsive">
	               <table class="table table-bordered">
	               		<thead>
	               			<tr>
	               				<th>ID</th>
								<th>Razón social</th>
								<th>País origen</th>
								<th>País destino</th>
	               				<th>Banco</th>
	               				<th>Monto enviado</th>
	               				<th>Estado</th>
	               				<th>Fecha</th>
	               				<th v-if="config.showActions">Acciones</th>
	               			</tr>
	               		</thead>
	               		<tbody>
	               			<template v-if="config.filtrando">
	               				<tr>
	               					<td :colspan="config.showActions ? 9 : 8"> Buscando datos </td>
	               				</tr>
	               			</template>

	               			<template v-else-if="!config.filtrando && rows.data.length > 0">
		               			<tr v-for="(value, index) in rows.data" :key="index">
									   
		               			</tr>
	               			</template>
	               			<template v-else>
		               			<tr>
		               				<td :colspan="config.showActions ? 9 : 8">
		               					Busqueda finalizada. No se han encontrado datos
		               				</td>
		               			</tr>
		               		</template>
	               		</tbody>
	               </table>
	            </div>
	            <pagination :data="rows" align="right" @pagination-change-page="filter"></pagination>
            </template>
        </panel>

	</div>
</template>

<script>
	export default {
		data() {
			return {
                config: {
                    url : this.$root.base_url + this.$route.path,
					filtrando: false,
					showActions: true
				},
				message:{
					error : [],
					success: [],
				},
				rows: {
					data: {},
					total: 0,
					last_page: 1
				},
				filters: {
					id: null,
					estado: null,
				},
				selects: {
					estados: []
				},
			}
		},
		async mounted() {
            await this.filter();
        },
		methods: {
			clearMessages() {
				this.message = this.$root.clearObject(this.message);
			},
			clear() {
				this.filters = this.$root.clearObject(this.filters);
				this.filter(1);
			},
			getMessage(message, type = 'error'){
				this.message[type] = this.$root.arrayResponse(message);			
			},
            async filter(page = 1){
				const load = loading(this);

                try {
                    this.clearMessages();
                    this.config.filtrando = true;

					const  request = new FormData;
					
                    request.append('page', page);
                    this.filters.id && request.append('id', this.filters.id);
                    this.filters.estado && request.append('id_estado', this.filters.estado.id);
                    
					const response = await axios.post(this.config.url, request);
					console.log(response)
                    const { rows , selects } = response.data;

                    this.rows = rows;
                    this.selects = selects;

                } catch (error) {
                    this.getMessage(error);
                }
                finally{
                    load.hide();
					this.config.filtrando = false;
                }
			},
			async changePassword(){
				const load = loading(this);

				try {
					this.clearMessages();

					this.getMessage(error);
				} catch (error) {
					 this.getMessage(error);
				}
				finally{
                    load.hide();
					this.config.filtrando = false;
                }
			},
		}
	}
</script>

<style>
	.pointer{
		cursor: pointer;
	}
</style>
